body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

.btn {
    padding: 10px 20px;
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}